#background{
    background-image: url(super.jpeg);
    background-repeat: no-repeat;        
    background-position: cover;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100%;
}

#login{
    background-color: rgba(214, 214, 202, 0.966);
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px 10px;
    padding: 1%;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 5%;
    }

input{
    display: block;
    width: 95%;
    padding: 1%;
}

label{
    font-size: 110%;
}

.navBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #B4E380;
    padding: 10px 20px;
    gap: 10px;
}

.navBar button {
    background-color: white;
    height: 50px;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    font-weight: 500;
    cursor: pointer;
}

.navBar input {
    background-color: #F6FB7A;
    height: 30px;
    border-radius: 100px;
    width: 400px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

#title{
    display: flex;
    justify-content: center;
}

.categories{
    display: flex;
    justify-content: space-evenly;
}

.categoriesTitle{
    background-color: #F6FB7A;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}
